*{
    padding: 0;
    margin: 0;
    font-family:  Helvetica;
    color: #020202;
    box-sizing: border-box;
}

body {
    background-image: url("../imgs/background.png") ;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
}

button{
    background-color: #fdfdfd;
    color: blue;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover{
    background-color: #102f5e;
}

button:hover > i {
    color: rgb(145, 255, 0);
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}
input,
select{
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}