.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfdfd;
    padding: 1.5rem;
    border-radius: 1rem;
    
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}
